.page-wrapper {
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    font-family: "Noto Sans";
    font-weight: normal;
}

.heading_hierarchy_1 {
    font-family: "OPTI Enge Etienne";
    font-size: 40px;
    font-weight: normal;
}
.heading_hierarchy_2 {
    font-family: "Noto Serif Bold";
}

.header {
    padding-top: 3px;
    padding-bottom: 3px;

    text-align: center;
    border-bottom: 2px solid black;
}

.main {
    padding: 12px 9px;

    flex-grow: 1;

    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.header-container {
    padding-top: 3px;
    padding-bottom: 3px;
    
    border-bottom: 2px solid black;

    text-align: center;
}

.about {
    display: flex;
    flex-direction: column;

    border: 2px solid black;
}
.content-container {
    display: flex;
    flex-direction: row;
}
.text-container {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    column-gap: 12px;
    row-gap: 12px;
}

.stack {
    display: flex;
    flex-direction: column;

    border: 2px solid black;
}
.icons-container {
    display: flex;
    flex-direction: row;
}
.icons-container__icon {
    box-sizing: border-box;

    width: 295px;
    height: 308px;

    padding-top: 8px;
    padding-right: 3px;
    padding-bottom: 8px;
}
.icons-group {
    width: 462px;

    display: flex;
    flex-wrap: wrap;
}
.icons-group__icon {
    width: 154px;
    height: 154px;
}

.achievements {
    display: flex;
    flex-direction: column;

    border: 2px solid black;
}
.image-container {
    padding: 8px 9px;

    display: flex;
    flex-direction: row;
    
    column-gap: 9px;
}
.image-container__image {
    height: 292px;
}

.footer {
    text-align: center;
    border-top: 2px solid black;
}